body{
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
}
#header h1{
	text-align: left;
	border-bottom-width: thin;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	padding-bottom: 5px;
}

#footer{
	font-size: 10px;
	text-align: right;
}